﻿@{
    ViewBag.Title = "Home Page";
}
<script>
    function saveLocalStorage() {
        var token ='@ViewBag.name';
        console.log('Este es el token de la app '+token);
        localStorage.setItem('token', token);
        window.location.replace('http://192.168.0.120/TTBancaWeb/');
    }

    window.onload = function () {
        saveLocalStorage();
    }
</script>
<h2>Redirigiendo</h2>
<div class="lds-ellipsis" onload="saveLocalStorage()"><div></div><div></div><div></div><div></div></div>